.left-panel {
    width: 30%;
    background-color: black;
    color: white;
    /* padding: 20px;
    margin-right: 15px;
    border-right: 1px solid gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
a {
    color: white;
}
p {
    margin: 0px;
}
.dropdown-toggle-no-hover {
    &:hover {
        /* Apply styles to the :hover state */
        background-color: transparent;
        color: transparent;
    }
}

.custom-dropdown-menu {
    width: 300px;
}

.list-group-item {
    border: none !important;
    color: #fffdfd;
    background-color: #212529;
}
.gray-text {
    color: rgba(189, 179, 179, 0.626);
    font-size: 14px;
}
a.hover-blue:hover{
    color:#2551d2    ;
}
a.hover-underline:hover{
    text-decoration: underline   ;
}

.show-more:hover {
    color: blue !important;;
  }
.left-panel h3 {
    margin-top: 0;
    
    font-size: 20px;

}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-repo-button {
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 11px;
}

.new-repo-button:hover {
    background-color: orange;
}

.repo-search input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.top-repos {
    text-align: left;
}

.recent-activities {
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

.top-repos ul,
.recent-activities ul {
    list-style-type: none;
    padding: 0;
}


.top-repos li a,
.recent-activities li a {
    margin: 10px 0;
}

.top-repos li a,
.recent-activities li a {
    text-decoration: none;
    font-size: small;
}

.top-repos li a:hover,
.recent-activities li a:hover {
    text-decoration: underline;
}