.App {
    background: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: non
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
    background-color: black;
    /* display: flex;
    flex-direction: column;
    align-items: space-between */
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;

}

.right-pane{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 70%;
}