:root {
    --color-bg: black;
    --color-text-primary: white;
    --color-text-secondary: #8d96a0;
    --color-border: #30363db3;
    --color-comp-bg: #0d1117;
    --color-comp-bg-hover: #161b22;
    --border-thin: 0.5px solid var(--color-border);
}