.user-nav {
    background-color: var(--color-bg);
    border: var(--border-thin);
    padding: 10px;
    color: white;

    width: 20vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: none;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
    z-index: 200;
}

.usernav-icon {
    color: var(--color-text-secondary);
    margin: 5px;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.github-user-name {
    color: var(--color-text-primary);
    font-weight: bold;
    font-size: small;
    display: block;
}

.github-display-name {
    color: var(--color-text-secondary);
    display: block;
    font-size: small;
}

.user-nav-top button {
    background-color: var(--color-bg);
    border: none;
    border-radius: 20%;
}

.user-nav-top button:hover {
    background-color: var(--color-comp-bg-hover);
}

.user-nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-nav-lists {
    text-align: left;
}

.user-nav-lists ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.user-nav-lists ul:not(:first-child) {
    border-top: var(--border-thin);
}

.user-nav-item span {
    color: var(--color-text-primary);
    font-size: small;
    margin-left: 1ch;
}

.user-nav-item {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    border-radius: 10px;
    padding: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-nav-item:hover {
    background-color: var(--color-comp-bg-hover);
    cursor: pointer;
}

@keyframes userNavSlideIn {
    from {
        right: -20vw;
    }

    to {
        right: 0;
    }
}